<div class='container my-5'>
  <div class='row text-center flex-column py-5'>
    <h4>退会しました。</h4>
    <h5 class='py-3'>ご利用ありがとうございました。</h5>
    <%= link_to "Cuber TOPページへ", root_path, class:'my-5' %>
  </div>
</div>
