<div class='container my-5'>
  <div class='row py-3 justify-content-center'>
    <h3>運営</h3>
  </div>
  <div class='row py-4 justify-content-center'>
    <div class='col-md-10 col-lg-8 text-center'>
      <table class="table table-striped">
        <tr>
          <td class='col-3'>サイト名</td>
          <th class='col-5'>Cuber</th>
        </tr>
        <tr>
          <td>開設日</td>
          <td>2023/3/28</td>
        </tr>
        <tr>
          <td>サイト運営・管理</td>
          <td>sasaki</td>
        </tr>
        <tr>
          <td>サイトの目的</td>
          <td>ポートフォリオ</td>
        </tr>
        <tr>
          <td>その他</td>
          <td>
            管理人の愛用キューブはDaYan ZhanChi。<br>
            性能を存分に持て余しアベレージは1分台です！
          </td>
        </tr>
      </table>
    </div>
   </div>
</div>
