<div class='container py-2'>
  <div>
    <%= flash[:notice] %>
  </div>
  <div class='row'>
    <!--user-info-->
    <%= render 'public/user/info', user: @user %>
    
    <div class='col-8 offset-1'>
      <!--user詳細-->
      <%= render 'public/user/profiles/ditail', user: @user %>
    
      <!--user投稿一覧-->
      <%= render 'public/posts/list', posts: @posts %>
    </div>
    
  </div>
</div>
