<div>
  <%= link_to "ユーザー一覧", admin_users_path, class:'nav-link text-dark mx-3' %>
</div>
<div>
  <%= link_to "投稿", admin_searches_path, class:'nav-link text-dark mx-3' %>
</div>
<div>
  <%= link_to "タグ", admin_searches_path, class:'nav-link text-dark mx-3' %>
</div>
