<div class='container my-5'>
  <div class='row justify-content-center py-5'>
    <div class='col-sm-10 col-md-5'>
      <%= image_tag '404error.jpg', class:'img-fluid', size:'400x400' %>
    </div>
    <div class='col-sm-10 col-md-5 my-5'>
      <h3>Error</h3>
      <div class='row px-4'>
        <p>お探しのページは見つかりませんでした。<br>
          URLが間違っているか、ページが存在しません。</p>
      </div>
      <div class='row px-4'>
        <p>The page you’re looking for can’t be found.<br>
          Wrong URL, page does not exist.</p>
      </div>
      <div class='row pl-4'>
        <%= link_to "Cuber TOPページへ", root_path, class:'my-5' %>
      </div>
    </div>
  </div>
</div>
