<div class='container px-5'>
  <div class='row'>
    <!--user-info-->
    <%= render 'public/user/info', user: @user %>
    
    <!--user詳細-->
    <%= render 'public/user/profiles/ditail', user: @user %>
    
      <!--userコメント一覧-->
      <div>
        <%= render 'public/post_comments/list', comments: @comments %>
      </div>
      
    </div>
    
  </div>
</div>