<div class='container py-2'>
  <div class='row'>
    <!--user-info-->
    <%= render 'public/user/info', user: current_user %>
    
    <div class='col-8 offset-1'>
    <!--user詳細-->
    <%= render 'public/user/profiles/ditail', user: current_user %>
    
      <!--userブックマーク一覧-->
      <div>
        <%= render 'public/posts/list', posts: @bookmarked_posts %>
      </div>
    </div>
    
  </div>
</div>